.agree-box
    label.container
        | 전체 약관에 동의합니다
        input(type='checkbox', id="total-agreement")
        span.checkmark
    
    label(id="essential-label").container.low-rank
        | 필수 항목에 동의합니다.
        input(type='checkbox', id="essential-agreement")
        span.checkmark
    
    .agree-terms
        a(href="#") 배민사장님광장 이용약관
        a(href="#") 개인정보 수집이용 동의

    label.container.low-rank
        | 광고성 정보 수신 동의(선택)
        input(type='checkbox', id="choose-agreement")
        span.checkmark
    
    p * 14세 이상 회원만 가입 가능합니다.
    a(href="#") 내용보기