.choose-box
    .choose-box__title
        label.container
            input(type='checkbox' checked='checked')
            span.checkmark
        p 선택 정보를 입력하시겠어요?
        a(link='#') 내용보기
    .choose-box__zipcode
        div 
            input(type='text', placeholder='우편번호')
        input(type='button', value='주소찾기')
    .choose-box__address
        input(type='text', placeholder='주소')
    .choose-box__address
        input(type='text', placeholder='상세주소')

