doctype html
html
    body
        block content
            .essential
                .NanumSquareRound
                    p(style="color:black; font-size:20px; text-align: center;") 필수 정보를 입력해주세요.
                    .id-box
                        input(id="username" name="id", type="text" placeholder="아이디* (4~20자)")
                        button(type="button" id="idDuplicateCheck") 중복체크
                    p.errorId(style="display:none;")
                    input(id="password" name="password", type="password" placeholder="비밀번호* (영문+숫자, 8~20자)")
                    p.errorPassword(style="display:none;")
                    input(id="passwordSecond" type="password" placeholder="비밀번호 재확인*")
                    p.errorPasswordSecond(style="display:none;")
                    .email-box
                        input(id="email-first" class="email-first" type="text" placeholder="이메일 앞자리*")
                        span(class="at") @
                        input(id="email-second" class="email-second" type="text" placeholder="이메일 뒷자리*" disabled)
                    p.errorEmail(style="display:none;")
                    select(class="email")
                        option(value="") 이메일선택
                        option(value="naver.com") naver.com
                        option(value="daum.com") daum.com
                        option(value="nate.com") nate.com
                        option(value="gmail.com") gmail.com
                        option(value="self") 직접입력
                    input(type="text" placeholder="이름*" name="username" id="name")
                    p.errorName(style="display:none;")
                    .phone-box
                        input(id="phone", type="text" name="phoneNum" placeholder="휴대폰*")
                        button(id="certification") 인증받기
                    .verification-box(style="display:none;")
                        .verification-input-box
                            .number-box
                                input(id="verificationInput", type="text" placeholder="인증번호를 입력해주세요")
                                p.time-left-box(style="display:none; margin:auto;")
                            button(id="verficationButton") 확인
                        p.verification-message(style="display:none; text-align:center;") 인증번호를 입력해주세요
                        p(style="text-align: center; padding-top: 20px") * 인증번호 전송은 통신사에 따라 최대 1분까지 소요될 수 있습니다.
                        p(style="text-align: center;") * 인증번호가 도착하지 않을 경우 ‘인증번호 재전송’을 눌러주세요.

