doctype html
html
  head(lang='ko')
    title 회원가입
    link(href='/css/normalize.css', rel="stylesheet")
    link(href='/css/register/register.css', rel="stylesheet")
  body
    .big-box
      include title.pug
