doctype html
html
body
    block content
        .hanna
            p(style="color:#2AC1BC; font-size:30px; text-align: center;")
            img(src="image/logo.png", alt="로고" style="margin-left: auto; margin-right: auto; display: block; max-width:50%; max-height:50%")
