doctype html
head
  title 메인
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(href='/css/normalize.css', rel="stylesheet")

div.main-box
  h4 이미 로그인 하셨는데요? 또 하시게요?
    
//- script(src="/javascripts/main.js", type="text/javascript")