doctype html
html
  head(lang='ko')
    title 로그인
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href="/image/favicon.ico" rel="shortcut icon")
    meta(name="description" content="배민상회 관리 사이트");
    meta(property="og:title" content="배민상회")
    meta(property="og:site_name" content="배민상회")
    meta(property="og:type" content="website")
    meta(property="og:url" content="")
    meta(property="og:image" content="http://www.woowahan.com/img/mobile/woowabros.jpg")
    meta(property="og:description" content="사장님들 화이팅~! 사장님을 위한 사이트입니다.")

  body
      h2(style="text-align:center") 이미 로그인하셨는데요.. 또 하시게요..?
      img(src="https://www.speconomy.com/news/data/20200413/p1065603119250449_135_thum.png", alt="배민 아이콘", style="width:50%; height:300px; margin: 0 auto; display:block;")