doctype html
html
    head(lang='ko')
        meta(charset='UTF-8')
        link(href='/css/userInfoCard.css', rel="stylesheet")

    body
        .NanumSquareRound
        p 메인으로 ➔
        .big-box
            p 이름
            p 아이디
            p 이메일
            p 휴대폰
    script(src="/javascripts/register/essentialInfo/essentialInfo.js", type="module")