@import url(//fonts.googleapis.com/earlyaccess/hanna.css);
.hanna * {
    font-family: 'Hanna', fantasy;
}

.big-box {
    padding: 50px;
    margin: 0 auto;
    max-width: 550px;
    width: 90%;
}

.NanumSquareRound input {
    display: block;
    margin: 15px auto;
    width: 100%;
    height: 60px;
    padding-left: 20px;
    border: 0.5px solid lightgray;
}

button {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    background-color: #2ac1bc;
    border: none;
    padding-top: 2px;
    display: block;
    color: white;
    height: 52px;
}