@import url(//fonts.googleapis.com/earlyaccess/hanna.css);
.hanna * {
    font-family: 'Hanna', fantasy;
}

.big-box {
    margin: 0 auto;
    max-width: 750px;
    width: 90%;
    border: 1px solid black;
    height: 500px;
}