.register-button{
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    background-color: blue;
    box-sizing: border-box;
    padding-top: 2px;
    display: block;
    color: white;
    height: 52px;
}